<mat-dialog-content class="container-instrucciones">
  <div >
    <h1>INSTRUCCIONES</h1>

    <h2>Advertencias</h2>

    <p>
      Si no has jugado el juego es muy probable de que aparezcan SPOILERS importantes
      sobre el videojuego, de la serie mas o menos ya que son similares, pero, de esta última no saldrá
      nada. Este juego solo es sobre el videojuego nada de la serie.
    </p>

    <h2>Recomendaciones</h2>

    <p>
      Se recomienda el leerse las instrucciones de juego para poder juagr con total normlaidad, aunque
      estas son sencillas. También se recomienda que is usted va a jugar y ha juagdo poco del juego, no ha
      jugado o ha jugado hace tiempo, que le de un vistaazo a los personaje sjunto a sus caracteristicas ya que
      estas son imporatntes para el juego. Ya que sin saber ninguna de estas usted no podráadivinar ninguno de los persoanjes
      que apareecerán o le costaá muchisimo mas si el juego nunca l eha llamado tanto la atención como para prestar atencion a esos detalles.
    </p>

    <h2>Como Jugar (Adivinanza)</h2>

    <p>
      Este es un juego básico de adivinanza, tiene 8 intentos para adivinar un personaje ocn ciertas características,
      de las cuales usted no sabe cuales son pero esa es la gracia del jeugo. Al introducir un personaje al azar primeramente
      si tiene suerte y lo acierta genial, sino le aparecera el personake selecionado con sus características las culaes son:
      nombre, altura, edad,s exo, pelo, juego(En cual juego de los dos aparece), tipo(sobreviviente, cazador, infectado, ciudadano),
      estado(vivo o muerto). Al aparecer si alguna de sus características son iguales está aparecera rodeada de verde y si se acerca
      aparecera en amarillo, sino coincide aparecera sin más.
      Y esta es la base del juego, como dije anterirormente es sencilla asique ahora a disfrutar
    </p>

    <h3>PRÓXIMAMENTE MAS JUEGOS...</h3>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="container-texto-pequeño">
    <button mat-button mat-dialog-close>Salir</button>
</mat-dialog-actions>
