USE [master]
GO
/****** Object:  Database [TLOUDle]    Script Date: 26/05/2025 20:36:14 ******/
CREATE DATABASE [TLOUDle]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TLOUDle', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TLOUDle.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TLOUDle_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TLOUDle_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TLOUDle].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TLOUDle]
GO
/****** Object:  Table [dbo].[Personajes]    Script Date: 26/05/2025 20:36:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personajes](
	[id] [int] NULL,
	[nombre] [nvarchar](50) NULL,
	[altura] [nchar](10) NULL,
	[edad] [int] NULL,
	[sexo] [nvarchar](50) NULL,
	[colorPelo] [nchar](10) NULL,
	[juegos] [int] NULL,
	[tipoPersonaje] [nvarchar](50) NULL,
	[estado] [nchar](10) NULL,
	[descripcion] [nvarchar](max) NULL,
	[foto] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
